{% extends "base.html" %}

{% block content %}
  <h1>{{ question.title }}</h1>
  <p>
    {{ question.text }}
  </p>
  <p>
    {% for category in question.categories.all %}
      <a href="{% url "core:category_detail" pk=category.pk %}">{{ category }}</a>{% if not forloop.last %},{% endif %}
    {% endfor %}
  </p>
  <hr>
  <p>
    {% for answer in question.answers.all %}
      <div>
        author: <em>{{ answer.author }}</em>
        <br/>
        {{ answer.text }}
      </div>
      <br/>
    {% endfor %}
  </p>
{% endblock %}
